body {
  margin: 0;
}
/* header {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "menu logo links";
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.562);
} */

header div {
  display: flex;
  align-items: center;
}

header {
  background-color: #87986a;
}
#logo {
  display: flex;
  justify-content: space-between;
  padding: 0px 6em;
}

#logo h1 {
  width: min-content;
}

header > div:first-child {
  display: flex;
  justify-content: space-around;
  padding: 0px 15px;
  background-color: rgb(36, 39, 33);
  color: rgb(255, 255, 255);
}

footer {
  background-color: rgb(36, 39, 33);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.padding_control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding_control > div {
  width: 75%;
}

nav {
  background-color: #b5c99a;
  color: black;
}
ul {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

#divEntrantes,
#divPrimeros,
#divSegundos,
#divAcompa単antes,
#divPostres,
#divBebidas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  border: 3px solid black;
  margin: 8vh;
}
/* -------------------------------------------- */
#divPrimeros > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
#divPrimeros > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divPrimeros h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}
/* -------------------------------------------- */

#divEntrantes > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divEntrantes > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divEntrantes h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

/* -------------------------------------------- */
#divSegundos > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divSegundos > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divSegundos h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

/* -------------------------------------------- */
#divAcompa単antes > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divAcompa単antes > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divAcompa単antes h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

/* -------------------------------------------- */
#divPostres > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divPostres > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divPostres h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

/* -------------------------------------------- */
#divBebidas > div {
  background-color: #ffffff;
  border: 2px solid #ccc;
  padding: 60px;
  font-size: 18px;
  text-align: center;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#divBebidas > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#divBebidas h1 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}
